<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/hdsg.css" media="all" />
</head>
<body>
<p>Current Path: {{=it.dir}}</p>

{{ if(it.dir != '/') { }}
<div class="nav">
<a href="viewfolder?f={{=it.parentdir}}">go up (../)</a>
</div>
{{ } }}

<div class="filelist">
	{{ for(var name in it.files){ }}
	{{ file = it.files[name]; }}
	{{ basename = it.require('path').basename(name); }}
        {{ if (basename == '.DS_Store') continue; }}
	<div class="file">
		{{? file.is_dir}}
			<a href="viewfolder?f={{=name}}">{{=basename}}/</a>
		{{??}}
			<a href="playfile?f={{=name}}">{{=basename}}</a>
		{{?}}
		
		<!--<div class="compatibility_data">
			{{ var util = it.require('util'); }}
			{{= util.inspect(file) }}
		</div>-->
	</div>
	{{ } }}
</div>

</body>
</html>
