<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/hdsg.css" media="all" />
</head>
<body>
<p>Current Path: {{=it.dir}}</p>

{{ if(it.dir != '/') { }}
<div class="nav">
<a href="viewfolder?f={{=it.parentdir}}">go up (../)</a>
</div>
{{ } }}

<div class="filelist">
	{{ for(var name in it.files){ }}
	{{ file = it.files[name]; }}
	{{ basename = it.require('path').basename(name); }}
        {{ if (basename == '.DS_Store' || basename == '.thumbs') continue; }}
	{{? file.is_dir}}
		<a href="viewfolder?f={{=name}}">
	{{??}}
		<a href="playfile?f={{=name}}">
	{{?}}
	<div class="file{{? file.is_dir}} directory{{?}}">
		{{? file.thumbnail_src}}
			<img class="thumb" src="{{=file.thumbnail_src}}" height="{{=file.thumbnail_height}}" width="{{=file.thumbnail_width}}" />
		{{?}} {{=basename}}
		
		<!--<div class="compatibility_data">
			{{ var util = it.require('util'); }}
			{{= util.inspect(file) }}
		</div>-->
	</div></a>
	{{ } }}
</div>

</body>
</html>
