body {
 color: #222;
 font-size: 12pt;
 font-family: helvetica, sans-serif;
}

div.nav {
 font-size: 10pt;
 margin: 2px 0 8px 0;
}

img.thumb {
  float: left;
  margin-right: 6px;
}

div.file {
  clear: both;
  overflow: hidden;
  margin: 3px 0 4px 0;
  padding: 7px;
  border: 1px solid #ddd;
  vertical-align: middle;
  line-height: 90px;
}
div.file.directory {
  line-height: 45px;
}
div.filelist a {
  text-decoration: none;
  color: #222;
}
div.filelist a:visited {
  color: #777;
}
div.filelist a:hover {
  color: #009900;
}
div.file:hover {
  border: 1px solid #bbb;
  cursor: poiner;
}
